---
openapi: 3.0.2
info:
  title: Embat API
  description: Embat API enables connections between any third party application and
    Embat. Is organized around REST principles, using HTTP responses code and returning
    data in JSON format. While testing the API, you have to request **sandbox credentials**.
  contact:
    name: API Support
    url: https://embat.io
    email: tech@embat.io
  version: 2.90.0
  x-logo:
    url: https://storage.googleapis.com/embat-production.appspot.com/assets/embat_dark.svg
servers:
- description: production
  url: https://api.embat.io
paths:
  "/authentication/token":
    post:
      tags:
      - Authentication
      summary: Generate idToken
      description: Generate idToken JWT to set Authorization Bearer Header
      operationId: auth_token_authentication_token_post
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostAuthenticationRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostAuthenticationResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
  "/accountingentries/{companyId}":
    get:
      tags:
      - AccountingEntries
      summary: List accounting entries
      description: List accounting entries
      operationId: list_accounting_entries_accountingentries__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      - required: false
        schema:
          title: Reconciled
          type: boolean
        name: reconciled
        in: query
      - required: false
        schema:
          title: Accountingcode
          type: string
        name: accountingCode
        in: query
      - required: false
        schema:
          title: Startdate
          type: string
          format: date
        name: startDate
        in: query
      - required: false
        schema:
          title: Enddate
          type: string
          format: date
        name: endDate
        in: query
      - required: false
        schema:
          title: Startupdatedat
          type: string
          format: date-time
        name: startUpdatedAt
        in: query
      - required: false
        schema:
          title: Endupdatedat
          type: string
          format: date-time
        name: endUpdatedAt
        in: query
      - description: Param to limit the size of the list of objects of response. Default
          500 and max value 2K
        required: false
        schema:
          title: Response length of objects limit
          maximum: 2000
          type: integer
          description: Param to limit the size of the list of objects of response.
            Default 500 and max value 2K
          default: 500
        name: limit
        in: query
      - description: Key to obtain the next N objects of your query based on the limit
          value. You can obtain nextPageToken from response to iterate over pages.
        required: false
        schema:
          title: Pagination token
          type: string
          description: Key to obtain the next N objects of your query based on the
            limit value. You can obtain nextPageToken from response to iterate over
            pages.
        name: nextPageToken
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListAccountingEntriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    post:
      tags:
      - AccountingEntries
      summary: Create accounting entry
      description: 'Create accounting entry with optional custom id (customId). If
        you dont set <code>customId</code>, Embat will auto-generate it. '
      operationId: create_accounting_entry_accountingentries__companyId__post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostAccountingEntriesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyAccountingEntriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - AccountingEntries
      summary: Delete accounting entries bulk
      description: Delete accounting entries bulk by <code>customId</code>
      operationId: delete_accounting_entries_bulk_accountingentries__companyId__delete
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkDeleteAccountingEntriesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAccountingEntriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - AccountingEntries
      summary: Update accounting entries bulk
      description: Update accounting entries variables by custom ids (customId)
      operationId: update_accounting_entries_bulk_accountingentries__companyId__patch
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPatchAccountingEntriesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAccountingEntriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/accountingentries/{companyId}/{customId}":
    get:
      tags:
      - AccountingEntries
      summary: Retrieve accounting entry
      description: Retrieve accounting entry
      operationId: retrieve_accounting_entry_accountingentries__companyId___customId__get
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetAccountingEntriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - AccountingEntries
      summary: Delete accounting entry
      description: Delete accounting entry by <code>customId</code>
      operationId: delete_accounting_entry_accountingentries__companyId___customId__delete
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyAccountingEntriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - AccountingEntries
      summary: Update accounting entry
      description: Update accounting entry variables by custom id (customId)
      operationId: update_accounting_entry_accountingentries__companyId___customId__patch
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchAccountingEntriesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyAccountingEntriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/accountingentries/{companyId}/bulk":
    post:
      tags:
      - AccountingEntries
      summary: Create accounting_entries bulk
      description: Create accounting entries with custom ids (customId) to make custom
        relationships or Embat will auto generate it.
      operationId: create_accounting_entries_bulk_accountingentries__companyId__bulk_post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPostAccountingEntriesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAccountingEntriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/accountingentries/accountingentrycode/{companyId}":
    delete:
      tags:
      - AccountingEntries
      summary: Delete accounting entries bulk by accountingEntryCode
      description: Delete accounting entries bulk by accountingEntryCode
      operationId: delete_accounting_entries_bulk_accountingentries_accountingentrycode__companyId__delete
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkDeleteAccountingEntriesEntryCodeRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAccountingEntriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/accountingaccounts/{companyId}":
    get:
      tags:
      - AccountingAccounts
      summary: List accounting accounts
      description: List accounting accounts
      operationId: list_accountings_accounts_accountingaccounts__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      - description: Param to limit the size of the list of objects of response. Default
          500 and max value 2K
        required: false
        schema:
          title: Response length of objects limit
          maximum: 2000
          type: integer
          description: Param to limit the size of the list of objects of response.
            Default 500 and max value 2K
          default: 500
        name: limit
        in: query
      - description: Key to obtain the next N objects of your query based on the limit
          value. You can obtain nextPageToken from response to iterate over pages.
        required: false
        schema:
          title: Pagination token
          type: string
          description: Key to obtain the next N objects of your query based on the
            limit value. You can obtain nextPageToken from response to iterate over
            pages.
        name: nextPageToken
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListAccountingsAccountsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    post:
      tags:
      - AccountingAccounts
      summary: Create accounting account
      description: Create accounting account by accounting code
      operationId: create_accountings_account_accountingaccounts__companyId__post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostAccountingsAccountsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyAccountingsAccountsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - AccountingAccounts
      summary: Delete accounting accounts bulk
      description: Delete accounting accounts bulk by <code>customId</code>
      operationId: delete_accountings_accounts_bulk_accountingaccounts__companyId__delete
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkDeleteAccountingsAccountsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAccountingsAccountsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - AccountingAccounts
      summary: Update accounting accounts bulk
      description: Update accounting accounts variables by custom ids (customId)
      operationId: update_accountings_accounts_bulk_accountingaccounts__companyId__patch
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPatchAccountingsAccountsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAccountingsAccountsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/accountingaccounts/{companyId}/{accountingCode}":
    get:
      tags:
      - AccountingAccounts
      summary: Retrieve accounting account
      description: Retrieve accounting account
      operationId: retrieve_accountings_account_accountingaccounts__companyId___accountingCode__get
      parameters:
      - required: true
        schema:
          title: Accountingcode
          type: string
        name: accountingCode
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetAccountingsAccountsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - AccountingAccounts
      summary: Delete accounting account
      description: Delete accounting account by <code>customId</code>
      operationId: delete_accountings_account_accountingaccounts__companyId___accountingCode__delete
      parameters:
      - required: true
        schema:
          title: Accountingcode
          type: string
        name: accountingCode
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyAccountingsAccountsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - AccountingAccounts
      summary: Update accounting account
      description: Update accounting account variables by custom id (customId)
      operationId: update_accountings_account_accountingaccounts__companyId___accountingCode__patch
      parameters:
      - required: true
        schema:
          title: Accountingcode
          type: string
        name: accountingCode
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchAccountingsAccountsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyAccountingsAccountsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/accountingaccounts/{companyId}/bulk":
    post:
      tags:
      - AccountingAccounts
      summary: Create accounting accounts bulk
      description: Create accounting accounts with accounting codes
      operationId: create_accountings_accounts_bulk_accountingaccounts__companyId__bulk_post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPostAccountingsAccountsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAccountingsAccountsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/attributes/{companyId}":
    get:
      tags:
      - Attributes
      summary: List attributes
      description: List attributes
      operationId: list_attributes_attributes__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListAttributesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    post:
      tags:
      - Attributes
      summary: Create attribute
      description: Create attribute by accounting code
      operationId: create_attribute_attributes__companyId__post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostAttributesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyAttributesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - Attributes
      summary: Delete attributes bulk
      description: Delete attributes bulk by <code>customId</code>
      operationId: delete_attributes_bulk_attributes__companyId__delete
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkDeleteAttributesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAttributesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Attributes
      summary: Update attributes bulk
      description: Update attributes variables by custom ids (customId)
      operationId: update_attributes_bulk_attributes__companyId__patch
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPatchAttributesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAttributesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/attributes/{companyId}/{customId}":
    get:
      tags:
      - Attributes
      summary: Retrieve attribute
      description: Retrieve attribute
      operationId: retrieve_attribute_attributes__companyId___customId__get
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetAttributesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - Attributes
      summary: Delete attribute
      description: Delete attribute by <code>customId</code>
      operationId: delete_attribute_attributes__companyId___customId__delete
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyAttributesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Attributes
      summary: Update attribute
      description: Update attribute variables by custom id (customId)
      operationId: update_attribute_attributes__companyId___customId__patch
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchAttributesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyAttributesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/attributes/{companyId}/bulk":
    post:
      tags:
      - Attributes
      summary: Create attributes bulk
      description: Create attributes with accounting codes
      operationId: create_attributes_bulk_attributes__companyId__bulk_post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPostAttributesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAttributesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/attributes/{companyId}/{customId}/values/bulk":
    post:
      tags:
      - Attributes
      summary: Add values to an attribute
      description: Add values to an attribute. If the customId of the value already
        exists, that value will be replaced.
      operationId: add_attribute_values_attributes__companyId___customId__values_bulk_post
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPostAttributesValuesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAttributesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/attributes/{companyId}/{customId}/values":
    delete:
      tags:
      - Attributes
      summary: Remove values to an attribute
      description: Remove values to an attribute by customId
      operationId: remove_attribute_values_attributes__companyId___customId__values_delete
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkDeleteAttributesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyAttributesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/banks/{companyId}":
    get:
      tags:
      - Banks
      summary: List banks
      description: List company banks.
      operationId: list_banks_banks__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListBanksResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/banks/{companyId}/{id}":
    get:
      tags:
      - Banks
      summary: Retrieve bank
      description: Retrieve bank by id
      operationId: retrieve_bank_banks__companyId___id__get
      parameters:
      - required: true
        schema:
          title: Id
          type: string
        name: id
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetBanksResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/balances/{companyId}":
    get:
      tags:
      - Balances
      summary: List balances
      description: List bank products balances
      operationId: list_balances_balances__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      - required: false
        schema:
          title: Productid
          type: string
        name: productId
        in: query
      - required: false
        schema:
          title: Startdate
          type: string
          format: date
        name: startDate
        in: query
      - required: false
        schema:
          title: Enddate
          type: string
          format: date
        name: endDate
        in: query
      - description: Param to limit the size of the list of objects of response. Default
          500 and max value 5K
        required: false
        schema:
          title: Response length of objects limit
          maximum: 5000
          type: integer
          description: Param to limit the size of the list of objects of response.
            Default 500 and max value 5K
          default: 500
        name: limit
        in: query
      - description: Key to obtain the next N objects of your query based on the limit
          value. You can obtain nextPageToken from response to iterate over pages.
        required: false
        schema:
          title: Pagination token
          type: string
          description: Key to obtain the next N objects of your query based on the
            limit value. You can obtain nextPageToken from response to iterate over
            pages.
        name: nextPageToken
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListBalancesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/balances/{companyId}/{id}":
    get:
      tags:
      - Balances
      summary: Retrieve balance
      description: Retrieve balance by id
      operationId: retrieve_balance_balances__companyId___id__get
      parameters:
      - required: true
        schema:
          title: Id
          type: string
        name: id
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetBalancesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/companies":
    get:
      tags:
      - Companies
      summary: List user companies
      description: List all the companies configured in your application. You need
        the `company.id` value to identify the company in the rest of the API
      operationId: list_companies_companies_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListCompaniesResponseSchema"
      security:
      - HTTPBearer: []
  "/companies/{companyId}":
    get:
      tags:
      - Companies
      summary: Retrieve company
      description: Retrieve company detail by id
      operationId: retrieve_company_companies__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/companies/{companyId}/users":
    get:
      tags:
      - Companies
      summary: List company users
      description: List all the users configured in your company. You need the `user.id`
        value to identify the user in the rest of the API
      operationId: list_company_users_companies__companyId__users_get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListCompanyUsersResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/categories/{companyId}":
    get:
      tags:
      - Categories
      summary: List categories
      description: List company treasury categories
      operationId: list_categories_categories__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListCategoriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/categories/{companyId}/{id}":
    get:
      tags:
      - Categories
      summary: Get company category
      description: Get company treasury category by <code>categoryId</code>
      operationId: get_category_categories__companyId___id__get
      parameters:
      - required: true
        schema:
          title: Id
          type: string
        name: id
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetCategoriesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/contacts/{companyId}":
    get:
      tags:
      - Contacts
      summary: List contacts
      description: List contacts
      operationId: list_contacts_contacts__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      - description: Param to limit the size of the list of objects of response. Default
          500 and max value 2K
        required: false
        schema:
          title: Response length of objects limit
          maximum: 2000
          type: integer
          description: Param to limit the size of the list of objects of response.
            Default 500 and max value 2K
          default: 500
        name: limit
        in: query
      - description: Key to obtain the next N objects of your query based on the limit
          value. You can obtain nextPageToken from response to iterate over pages.
        required: false
        schema:
          title: Pagination token
          type: string
          description: Key to obtain the next N objects of your query based on the
            limit value. You can obtain nextPageToken from response to iterate over
            pages.
        name: nextPageToken
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListContactsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    post:
      tags:
      - Contacts
      summary: Create contact
      description: 'Create contact with optional custom id (customId). If you dont
        set <code>customId</code>, Embat will auto-generate it. '
      operationId: create_contact_contacts__companyId__post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostContactsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyContactsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - Contacts
      summary: Delete contacts bulk
      description: Delete contacts bulk by <code>customId</code>
      operationId: delete_contacts_bulk_contacts__companyId__delete
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkDeleteContactsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyContactsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Contacts
      summary: Update contacts bulk
      description: Update contacts variables by custom ids (customId)
      operationId: update_contacts_bulk_contacts__companyId__patch
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPatchContactsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyContactsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/contacts/{companyId}/{customId}":
    get:
      tags:
      - Contacts
      summary: Retrieve contact
      description: Retrieve contact
      operationId: retrieve_contact_contacts__companyId___customId__get
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetContactsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - Contacts
      summary: Delete contact
      description: Delete contact by <code>customId</code>
      operationId: delete_contact_contacts__companyId___customId__delete
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyContactsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Contacts
      summary: Update contact
      description: Update contact variables by custom id (customId)
      operationId: update_contact_contacts__companyId___customId__patch
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchContactsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyContactsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/contacts/{companyId}/bulk":
    post:
      tags:
      - Contacts
      summary: Create contacts bulk
      description: Create contacts with custom ids (customId) to make custom relationships
        or Embat will auto generate it
      operationId: create_contacts_bulk_contacts__companyId__bulk_post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPostContactsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyContactsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/forecasts/{companyId}":
    get:
      tags:
      - Forecasts
      summary: List forecasts
      description: List forecasts
      operationId: list_forecasts_forecasts__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      - required: false
        schema:
          title: Scenarioid
          type: string
        name: scenarioId
        in: query
      - required: false
        schema:
          title: Sync
          type: boolean
        name: sync
        in: query
      - required: false
        schema:
          title: Operations
          type: boolean
          default: false
        name: operations
        in: query
      - required: false
        schema:
          title: Startdate
          type: string
          format: date
        name: startDate
        in: query
      - required: false
        schema:
          title: Enddate
          type: string
          format: date
        name: endDate
        in: query
      - description: Param to limit the size of the list of objects of response. Default
          500 and max value 2K
        required: false
        schema:
          title: Response length of objects limit
          maximum: 2000
          type: integer
          description: Param to limit the size of the list of objects of response.
            Default 500 and max value 2K
          default: 500
        name: limit
        in: query
      - description: Key to obtain the next N objects of your query based on the limit
          value. You can obtain nextPageToken from response to iterate over pages.
        required: false
        schema:
          title: Pagination token
          type: string
          description: Key to obtain the next N objects of your query based on the
            limit value. You can obtain nextPageToken from response to iterate over
            pages.
        name: nextPageToken
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListForecastsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Forecasts
      summary: Update forecasts bulk
      description: Update forecasts variables by ids
      operationId: update_forecasts_bulk_forecasts__companyId__patch
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPatchForecastsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyForecastsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/forecasts/{companyId}/{id}":
    get:
      tags:
      - Forecasts
      summary: Retrieve forecast
      description: Retrieve forecast by id
      operationId: retrieve_forecast_forecasts__companyId___id__get
      parameters:
      - required: true
        schema:
          title: Id
          type: string
        name: id
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetForecastsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Forecasts
      summary: Update forecast
      description: Update forecast variables by id
      operationId: update_forecast_forecasts__companyId___id__patch
      parameters:
      - required: true
        schema:
          title: Id
          type: string
        name: id
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchForecastsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyForecastsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/foreignexchangerates":
    get:
      tags:
      - ForeignExchangeRates
      summary: List foreign exchange rates
      description: List foreign exchange rates
      operationId: list_foreign_exchange_rates_foreignexchangerates_get
      parameters:
      - required: true
        schema:
          "$ref": "#/components/schemas/CurrencyEnum"
        name: baseCurrency
        in: query
      - required: false
        schema:
          title: Startdate
          type: string
          format: date
        name: startDate
        in: query
      - required: false
        schema:
          title: Enddate
          type: string
          format: date
        name: endDate
        in: query
      - description: Param to limit the size of the list of objects of response. Default
          500 and max value 2K
        required: false
        schema:
          title: Response length of objects limit
          maximum: 2000
          type: integer
          description: Param to limit the size of the list of objects of response.
            Default 500 and max value 2K
          default: 500
        name: limit
        in: query
      - description: Key to obtain the next N objects of your query based on the limit
          value. You can obtain nextPageToken from response to iterate over pages.
        required: false
        schema:
          title: Pagination token
          type: string
          description: Key to obtain the next N objects of your query based on the
            limit value. You can obtain nextPageToken from response to iterate over
            pages.
        name: nextPageToken
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListForeignExchangeRatesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/foreignexchangerates/{id}":
    get:
      tags:
      - ForeignExchangeRates
      summary: Retrieve foreign exchange rate
      description: Retrieve foreign exchange rate by id
      operationId: retrieve_foreign_exchange_rate_foreignexchangerates__id__get
      parameters:
      - required: true
        schema:
          title: Id
          type: string
        name: id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetForeignExchangeRatesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/logs/{companyId}":
    post:
      tags:
      - Logs
      summary: Create log
      description: Create log
      operationId: create_log_logs__companyId__post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostLogRequestSchema"
        required: true
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/logs/{companyId}/bulk":
    post:
      tags:
      - Logs
      summary: Create logs bulk
      description: Create logs bulk
      operationId: create_logs_bulk_logs__companyId__bulk_post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPostLogsRequestSchema"
        required: true
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/operations/{companyId}":
    get:
      tags:
      - Operations
      summary: List operations
      description: "List client operations. \n > You can use <code>status</code> and
        <code>sync</code> filter as query param"
      operationId: list_operations_operations__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      - required: false
        schema:
          "$ref": "#/components/schemas/OperationStatusEnum"
        name: status
        in: query
      - description: Boolean param to filter entities processed by integrations. Control
          flag
        required: false
        schema:
          title: Sync
          type: boolean
          description: Boolean param to filter entities processed by integrations.
            Control flag
        name: sync
        in: query
      - description: YYYY-MM-DD format
        required: false
        schema:
          title: Startissuancedate
          type: string
          description: YYYY-MM-DD format
          format: date
        name: startIssuanceDate
        in: query
      - description: YYYY-MM-DD format
        required: false
        schema:
          title: Endissuancedate
          type: string
          description: YYYY-MM-DD format
          format: date
        name: endIssuanceDate
        in: query
      - description: Param to limit the size of the list of objects of response. Default
          500 and max value 2K
        required: false
        schema:
          title: Response length of objects limit
          maximum: 2000
          type: integer
          description: Param to limit the size of the list of objects of response.
            Default 500 and max value 2K
          default: 500
        name: limit
        in: query
      - description: Key to obtain the next N objects of your query based on the limit
          value. You can obtain nextPageToken from response to iterate over pages.
        required: false
        schema:
          title: Pagination token
          type: string
          description: Key to obtain the next N objects of your query based on the
            limit value. You can obtain nextPageToken from response to iterate over
            pages.
        name: nextPageToken
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListOperationsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    post:
      tags:
      - Operations
      summary: Create operation
      description: Create operation with optional custom id (customId). If you dont
        set <code>customId</code>, Embat will auto-generate it
      operationId: create_operation_operations__companyId__post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostOperationsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyOperationsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - Operations
      summary: Delete operations bulk
      description: Delete operations bulk by <code>customId</code>
      operationId: delete_contacts_bulk_operations__companyId__delete
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkDeleteOperationsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyOperationsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Operations
      summary: Update operations bulk
      description: Update operations variables by custom ids (customId).
      operationId: update_operations_bulk_operations__companyId__patch
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPatchOperationsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyOperationsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/operations/{companyId}/{customId}":
    get:
      tags:
      - Operations
      summary: Read operation detail
      description: 'Return operation detail '
      operationId: read_operation_operations__companyId___customId__get
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetOperationsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - Operations
      summary: Delete operation
      description: Delete operation by <code>customId</code>
      operationId: delete_contact_operations__companyId___customId__delete
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyOperationsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Operations
      summary: Update operation
      description: Update operation variables by custom id (customId)
      operationId: update_operation_operations__companyId___customId__patch
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchOperationsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyOperationsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/operations/{companyId}/bulk":
    post:
      tags:
      - Operations
      summary: Create operations bulk
      description: Create operations with custom ids (customId) to make ERP relationships
        or Embat will auto generate it
      operationId: create_operations_bulk_operations__companyId__bulk_post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPostOperationsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyOperationsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/operations/{companyId}/attributes/bulk":
    post:
      tags:
      - Operations
      summary: Add internal attributes to operations bulk
      description: Add internal attributes to operations. The attributes will not
        be synced to the ERP (only for internal use)
      operationId: add_attribute_values_operations__companyId__attributes_bulk_post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPostOperationsAttributesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyOperationsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - Operations
      summary: Remove internal attributes from operations bulk
      description: Remove internal attributes from operations
      operationId: delete_contacts_bulk_operations__companyId__attributes_bulk_delete
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkDeleteOperationsAttributesRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyOperationsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/payments/{companyId}":
    get:
      tags:
      - Payments
      summary: List payments
      description: List payments
      operationId: list_payments_payments__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      - required: false
        schema:
          title: Productid
          type: string
        name: productId
        in: query
      - required: false
        schema:
          title: Sync
          type: boolean
        name: sync
        in: query
      - required: false
        schema:
          title: Registered
          type: boolean
        name: registered
        in: query
      - required: false
        schema:
          title: Startdate
          type: string
          format: date
        name: startDate
        in: query
      - required: false
        schema:
          title: Enddate
          type: string
          format: date
        name: endDate
        in: query
      - required: false
        schema:
          title: Startupdatedat
          type: string
          format: date-time
        name: startUpdatedAt
        in: query
      - required: false
        schema:
          title: Endupdatedat
          type: string
          format: date-time
        name: endUpdatedAt
        in: query
      - description: Param to limit the size of the list of objects of response. Default
          500 and max value 2K
        required: false
        schema:
          title: Response length of objects limit
          maximum: 2000
          type: integer
          description: Param to limit the size of the list of objects of response.
            Default 500 and max value 2K
          default: 500
        name: limit
        in: query
      - description: Key to obtain the next N objects of your query based on the limit
          value. You can obtain nextPageToken from response to iterate over pages.
        required: false
        schema:
          title: Pagination token
          type: string
          description: Key to obtain the next N objects of your query based on the
            limit value. You can obtain nextPageToken from response to iterate over
            pages.
        name: nextPageToken
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListPaymentsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    post:
      tags:
      - Payments
      summary: Create payment
      description: 'Create payment with optional custom id (customId). If you dont
        set <code>customId</code>, Embat will auto-generate it. '
      operationId: create_payment_payments__companyId__post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostPaymentsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyPaymentsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - Payments
      summary: Delete payments bulk
      description: Delete payments bulk by <code>customId</code>
      operationId: delete_payments_bulk_payments__companyId__delete
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkDeletePaymentsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyPaymentsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Payments
      summary: Update payments bulk
      description: Update payments variables by custom ids (customId)
      operationId: update_payments_bulk_payments__companyId__patch
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPatchPaymentsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyPaymentsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/payments/{companyId}/{customId}":
    get:
      tags:
      - Payments
      summary: Retrieve payment
      description: Retrieve payment
      operationId: retrieve_payment_payments__companyId___customId__get
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetPaymentsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - Payments
      summary: Delete payment
      description: Delete payment by <code>customId</code>
      operationId: delete_payment_payments__companyId___customId__delete
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyPaymentsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Payments
      summary: Update payment
      description: Update payment variables by custom id (customId)
      operationId: update_payment_payments__companyId___customId__patch
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchPaymentsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyPaymentsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/payments/{companyId}/bulk":
    post:
      tags:
      - Payments
      summary: Create payments bulk
      description: Create payments with custom ids (customId) to make custom relationships
        or Embat will auto generate it. You can add a <code>categoryId</code> from
        'Categories' endpoints or will be added without Embat category
      operationId: create_payments_bulk_payments__companyId__bulk_post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPostPaymentsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyPaymentsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/products/{companyId}":
    get:
      tags:
      - Products
      summary: List products
      description: List products
      operationId: list_products_products__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      - required: false
        schema:
          title: Manual
          type: boolean
        name: manual
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListProductsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Products
      summary: Update products bulk
      description: Update products variables by ids
      operationId: update_products_bulk_products__companyId__patch
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPatchProductsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyProductsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/products/{companyId}/{id}":
    get:
      tags:
      - Products
      summary: Retrieve product
      description: Retrieve product
      operationId: retrieve_product_products__companyId___id__get
      parameters:
      - required: true
        schema:
          title: Id
          type: string
        name: id
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetProductsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - Products
      summary: Update product
      description: Update product variables by id
      operationId: update_product_products__companyId___id__patch
      parameters:
      - required: true
        schema:
          title: Id
          type: string
        name: id
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchProductsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyProductsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/reconcilingitems/{companyId}":
    get:
      tags:
      - ReconcilingItems
      summary: List reconciling items
      description: List reconciling items
      operationId: list_operations_reconcilingitems__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      - description: Reconciling source custom id
        required: false
        schema:
          title: Reconcilingsourcecustomid
          type: string
          description: Reconciling source custom id
        name: reconcilingSourceCustomId
        in: query
      - description: Boolean param to filter reconciled or not reconciled items
        required: false
        schema:
          title: Reconciled
          type: boolean
          description: Boolean param to filter reconciled or not reconciled items
        name: reconciled
        in: query
      - description: YYYY-MM-DD format
        required: false
        schema:
          title: Startdate
          type: string
          description: YYYY-MM-DD format
          format: date
        name: startDate
        in: query
      - description: YYYY-MM-DD format
        required: false
        schema:
          title: Enddate
          type: string
          description: YYYY-MM-DD format
          format: date
        name: endDate
        in: query
      - description: Param to limit the size of the list of objects of response. Default
          500 and max value 2K
        required: false
        schema:
          title: Response length of objects limit
          maximum: 2000
          type: integer
          description: Param to limit the size of the list of objects of response.
            Default 500 and max value 2K
          default: 500
        name: limit
        in: query
      - description: Key to obtain the next N objects of your query based on the limit
          value. You can obtain nextPageToken from response to iterate over pages.
        required: false
        schema:
          title: Pagination token
          type: string
          description: Key to obtain the next N objects of your query based on the
            limit value. You can obtain nextPageToken from response to iterate over
            pages.
        name: nextPageToken
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListReconcilingItemsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    post:
      tags:
      - ReconcilingItems
      summary: Create reconciling item
      description: Create reconciling item with custom id (customId)
      operationId: create_reconciling_item_reconcilingitems__companyId__post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostReconcilingItemSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyReconcilingItemsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - ReconcilingItems
      summary: Delete reconciling items bulk
      description: Delete reconciling items bulk by <code>customId</code>
      operationId: delete_reconciling_items_bulk_reconcilingitems__companyId__delete
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkDeleteReconcilingItemsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyReconcilingItemsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - ReconcilingItems
      summary: Update reconciling items bulk
      description: Update reconciling items variables by custom ids (customId).
      operationId: update_reconciling_items_bulk_reconcilingitems__companyId__patch
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPatchReconcilingItemsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyReconcilingItemsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/reconcilingitems/{companyId}/{customId}":
    get:
      tags:
      - ReconcilingItems
      summary: Read reconciling item detail
      description: 'Return reconciling item detail '
      operationId: read_reconciling_item_reconcilingitems__companyId___customId__get
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetReconcilingItemsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - ReconcilingItems
      summary: Delete reconciling item
      description: Delete reconciling item by <code>customId</code>
      operationId: delete_reconciling_item_reconcilingitems__companyId___customId__delete
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyReconcilingItemsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    patch:
      tags:
      - ReconcilingItems
      summary: Update reconciling item
      description: Update reconciling item variables by custom id (customId)
      operationId: update_reconciling_item_reconcilingitems__companyId___customId__patch
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchReconcilingItemSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyReconcilingItemsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/reconcilingitems/{companyId}/bulk":
    post:
      tags:
      - ReconcilingItems
      summary: Create reconciling items bulk
      description: Create reconciling items with custom ids (customId)
      operationId: create_reconciling_items_bulk_reconcilingitems__companyId__bulk_post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BulkPostReconcilingItemsRequestSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkModifyReconcilingItemsResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/reconcilingsources/{companyId}":
    get:
      tags:
      - ReconcilingSources
      summary: List reconciling sources
      description: List reconciling sources
      operationId: list_reconciling_sources_reconcilingsources__companyId__get
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListReconcilingSourcesResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    post:
      tags:
      - ReconcilingSources
      summary: Create reconciling source
      description: Create reconciling source by custom id
      operationId: create_reconciling_source_reconcilingsources__companyId__post
      parameters:
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostReconcilingSourceSchema"
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModifyReconcilingSourceResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
  "/reconcilingsources/{companyId}/{customId}":
    get:
      tags:
      - ReconcilingSources
      summary: Retrieve reconciling source
      description: Retrieve reconciling source
      operationId: retrieve_reconciling_source_reconcilingsources__companyId___customId__get
      parameters:
      - required: true
        schema:
          title: Customid
          type: string
        name: customId
        in: path
      - required: true
        schema:
          title: Companyid
          type: string
        name: companyId
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetReconcilingSourceResponseSchema"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - HTTPBearer: []
    delete:
      tags:
      - ReconcilingSources
      summary: Delete reconciling source
      description: Delete reconciling source by <code>customId</code>
[...]
